html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background: rgba(0, 0, 0, 0.9);
  display: flex;
}

.uploadForm {
  width: 100%;
  height: 90vh;
  border: 4px dashed #fff;
  text-align: center;
}

.uploadForm input {
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}

.uploadForm button {
  color: #fff;
  background: rgb(141, 224, 47);
  border: none;
  width: 508px;
  height: 35px;
  margin-top: 20px;
  margin-left: -4px;
  border-radius: 4px;
  border-bottom: 4px solid rgb(111, 207, 0);
  transition: all 0.2s ease;
  outline: none;
}

.uploadForm button:hover {
  background: rgb(111, 207, 0);
  color: black
}

.uploadForm button:active {
  border: 0;
}

.loginForm {
  margin: auto;
}

.loginForm > input {
  border: none;
  width: 508px;
  height: 35px;
  margin-left: -4px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  transition: all 0.2s ease;
  outline: none;
}

.loginForm p input {
  color: #fff;
  background-color: rgb(141, 224, 47);
  border: none;
  width: 508px;
  height: 35px;
  margin-left: -4px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  transition: all 0.2s ease;
  outline: none;
}

.loginForm p input:hover {
  background: rgb(111, 207, 0);
  color: black
}

.loginForm p input:active {
  border: 0;
}

.items {
  margin: auto;
}

.item {
  color: white;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
}